.container {
    display: grid;
    padding: 50px;
    margin-left: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    height: 120px;
    width: 300px;
    margin: 0 auto;
    border-right: 5px solid #85c88a;
    border-bottom: 5px solid #85c88a;
    border-radius: 50px 5px;
    background: #f0ece3;
    box-shadow:  20px 20px 60px #b5b5b5,
    -20px -20px 60px #ffffff;
}

.card:hover {
    cursor: pointer;
}

.portrait {
    width: 30%;
}

.photo {
    height: 100%;
    object-fit: contain;
    border-radius: 50px 0;
}

.ausent {
    border-right: 5px solid #ec7373;
    border-bottom: 5px solid #ec7373;
}

.card--body {
    padding: 10px;
}

h2 {
    margin: 10px;
    font-size: 1em;
}

h3 {
    margin: 10px;
    font-size: 0.8em;
    font-weight: normal;
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
  }

